.App {
  text-align: center;
  background-color: #d1cdc5;
}

.overlay-texture {
  position: absolute;
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 30%;
  z-index: 999;
  overflow: hidden;
}
